.car-box {
    font-family: "Arial";
    height: 170px;
    background-color: #fbfbfb;
    padding: 15px;
    margin: 15px;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
}

.car-box p {
    font-size: 24px;
}