.car-box {
    font-family: "Arial";
    background-color: #fbfbfb;
    padding: 15px 35px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 30px;
    min-height: 250px
}

.car-box p {
    font-size: 20px;
}

.car-box a:hover {
    text-decoration: none;
}