<div class="edit-car-form">
  <h2>Edit an existing car</h2>
  <form [formGroup]="editCarForm" (ngSubmit)="onSubmit(editCarForm.value)">
    <div class="form-group">
      <input  type="text" 
              [formControl]="editCarForm.controls['make']"
              class="form-control"
              id="makeInput"
              placeholder="Make"
              name="make" 
              ngModel>
      <div class="error-lbl" *ngIf="!make.valid && make.touched">Vehicle make is required</div>

      <input  type="text" 
              [formControl]="editCarForm.controls['model']"
              class="form-control"
              id="modelInput"
              placeholder="Model"
              name="model" 
              ngModel>
      <div class="error-lbl" *ngIf="!model.valid&& model.touched">Vehicle model is required</div>

      <input  type="text" 
              [formControl]="editCarForm.controls['year']"
              class="form-control"
              id="yearInput"
              placeholder="Year"
              name="year" 
              ngModel>
      <div class="error-lbl" *ngIf="!year.valid && year.touched">A vehicle year is required</div>

      <input  type="text" 
      [formControl]="editCarForm.controls['price']"
      class="form-control"
      id="priceInput"
      placeholder="Price"
      name="price" 
      ngModel>
      <div class="error-lbl" *ngIf="!price.valid && price.touched">A vehicle price is required</div>

      <input  type="text" 
      [formControl]="editCarForm.controls['mileage']"
      class="form-control"
      id="mileageInput"
      placeholder="Mileage"
      name="mileage" 
      ngModel>
      <div class="error-lbl" *ngIf="!mileage.valid && mileage.touched">A vehicle mileage is required</div>
      
      <input  type="text" 
      [formControl]="editCarForm.controls['color']"
      class="form-control"
      id="colorInput"
      placeholder="Color"
      name="color" 
      ngModel>
      <div class="error-lbl" *ngIf="!color.valid && color.touched">A vehicle color is required</div>

      <input  type="text" 
      [formControl]="editCarForm.controls['trim']"
      class="form-control"
      id="trimInput"
      placeholder="Trim"
      name="trim" 
      ngModel>
      <div class="error-lbl" *ngIf="!trim.valid && trim.touched">A vehicle trim is required</div>

      <input  type="text" 
      [formControl]="editCarForm.controls['description']"
      class="form-control"
      id="descriptionInput"
      placeholder="Description"
      name="description" 
      ngModel>
    
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>