.manage-cars .btn{
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-radius: 0;
}

.manage-cars {
    background-color: #fbfbfb;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 0 0 55px 0;
    margin-bottom: 50px;
}

.manage-cars h2 {
    padding: 25px 35px;
    background-color: #d32f2f;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

table {
    padding: 5px;
    color: #000000;
    border: none;
    margin: 0 35px 0 35px;
}

tr {
    border: 0;
}

table > thead > tr > th {
    border-bottom: none;
    vertical-align: middle;
}

table > tbody > tr > td {
    border-top: none;
    vertical-align: middle;
}

.newCarButton {
    width: 150px;
    line-height: 35px;
    margin: 15px 0 45px 35px;
}

.delete-btn {
    width: 75px;
}