<div class="manage-cars">
  <h2>Manage Cars</h2>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
          <th>Id</th>
          <td></td>
        </tr>
      </thead>
      <tbody> 
        <tr valign="middle"  *ngFor="let car of carList | async">
          <td>{{car.year}}</td>
          <td>{{car.make}}</td>
          <td>{{car.model}}</td>
          <td>{{car._id}}</td>
          <td><button (click)="deleteCar(car._id)" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>