.manage-cars {
    background-color: #fbfbfb;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 0 0 25px 0;
    margin-bottom: 30px;
}

.manage-cars h2 {
    padding: 25px 35px;
    background-color: #d32f2f;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

table {
    padding: 5px;
    color: #000000;
    border: none;
    margin: 0 35px 25px 35px;
}

tr {
    border: 0;
}

table > thead > tr > th {
    border-bottom: none;
    vertical-align: middle;
}

table > tbody > tr > td {
    border-top: none;
}

.manage-cars .btn-danger {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}