<div class="container-fluid footer">
    <a href="https://github.com/RPaez09" target="_blank">
        <p>Richard Paez - 2017</p>
    </a>
    <a href="https://github.com/RPaez09" target="_blank">
        <div class="contact-btn gh">
            <i class="fa fa-github" aria-hidden="true"></i>
        </div>
    </a>
    <a href="https://www.freecodecamp.org/rpaez09" target="_blank">
        <div class="contact-btn fcc">
            <i class="fa fa-free-code-camp" aria-hidden="true"></i>
        </div>
    </a>
    <a href="https://codepen.io/RPaez09/" target="_blank">
        <div class="contact-btn codepen">
            <i class="fa fa-codepen" aria-hidden="true"></i>
        </div>
    </a>
    <a href="https://www.linkedin.com/in/richard-paez-643b2598/" target="_blank">
        <div class="contact-btn linkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </div>
    </a>
</div>