.footer {
    background-color: #337ab7;
    color: #ffffff;
    padding: 35px 15px;
    margin: 35px 0 0 0;
}

.footer a {
    color: #ffffff;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: none;
}

.footer p {
    margin: 0;
}

.footer .contact-btn {
    width: 30px;
    height: 30px;
    padding: 6px;
    margin-top: 15px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin-right: 10px;
}

.footer .contact-btn:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.footer .contact-btn.fcc {
    background-color: #006400;
}

.footer .contact-btn.gh {
    background-color: #24292e;
    padding-left: 9px;
}

.footer .contact-btn.codepen {
    background-color: #191919;
    padding-left: 8px;
}

.footer .contact-btn.linkedin {
    background-color: #0077b5;
    padding-left: 8px;
}