.car-box {
    font-family: "Arial";
    background-color: #fff;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    margin-bottom: 25px;
    height: 230px
}

.car-box:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.car-box p {
    font-size: 24px;
    color: #000000;
}

.car-box a {
    display: inline-block;
}

.car-box a:hover{
    cursor: default;
}

.car-box a:hover {
    text-decoration: none;
}

.car-box p.mileage {
    font-size: 22px
}

.imagePlaceholder {
    background-color: grey;
    width: 300px;
    height: 230px;
    display: inline-block;
    margin-right: 30px;
}

.car-detail {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

@media only screen and (max-width : 768px) {
    
    .car-box p {
        font-size: 18px;
    }

    .car-box p.mileage {
        font-size: 18px;
    }
    
    .imagePlaceholder {
        margin-right: 15px;
    }

    .car-detail {
        margin-top: 15px;
    }

}