.detail-main{
    background-color: #fbfbfb;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 0 0 95px 0;
    margin-bottom: 50px;
    position: relative;
}


a {
    line-height: 35px;
    margin: 15px 0 45px 35px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-radius: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #337ab7;
}

a:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #337ab7;
}

h2 {
    padding: 25px 35px;
    background-color: #337ab7;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

h3 {
    display: inline-block;
    vertical-align: top;
}

span.price {
    color: #337ab7;
    font-size: 30px;
}

.placeholder{
    display: inline-block;
    height: 400px;
    width: 650px;
    background-color: grey;
    margin: 15px 35px;
}

@media only screen and (max-width : 768px) {
    
}