* {
    font-family: 'Lato', sans-serif;;
}

.content-main {
    margin-top: 100px;
}

.navbar {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #FFFFFF;
}

 @media only screen and (max-width : 768px) {

    .content-main {
        margin-top: 150px;
    }

}