* {
    font-family: 'Lato', sans-serif;;
}

body {
    padding-top: 50px;
}

.main-nav {
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 9999;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.main-nav .logo span {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    height: 60px;
    line-height: 60px;
    padding-left: 35px;
    display: inline-block;
}

.main-nav .logo:hover {
    color: #000000;
    text-decoration: none;
}

.main-nav .logo:focus {
    text-decoration: none;
}

.main-nav .linkbar {
    float: right;
}

.main-nav .linkbar ul a li {
    display: inline-block;
}

.main-nav .linkbar ul a li {
    color: #000000;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
}

.main-nav .linkbar ul li:first-child{
    margin-right: 20px;
}

.main-nav .linkbar ul a:hover{
    text-decoration: none;
}

.main-nav .linkbar ul a:focus{
    text-decoration: none;
}

login-form a.blue-btn {
    line-height: 35px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #337ab7;
}
    
login-form a.blue-btn:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #337ab7;
}

.content-main {
    margin-top: 50px;
}

 @media only screen and (max-width : 768px) {

    body {
        padding-top: 60px;
    }

    .content-main {
        margin-top: 0;
    }

}