<div class="new-car-form">
  <h2>Add a new car</h2>
  <form [formGroup]="newCarForm" (ngSubmit)="onSubmit(newCarForm.value)">
    <div class="form-group">
      <input  type="text" 
              [formControl]="newCarForm.controls['make']"
              class="form-control"
              id="makeInput"
              placeholder="Make"
              name="make" 
              ngModel>
      <div class="error-lbl" *ngIf="!make.valid && make.touched">Vehicle make is required</div>

      <input  type="text" 
              [formControl]="newCarForm.controls['model']"
              class="form-control"
              id="modelInput"
              placeholder="Model"
              name="model" 
              ngModel>
      <div class="error-lbl" *ngIf="!model.valid&& model.touched">Vehicle model is required</div>

      <input  type="text" 
              [formControl]="newCarForm.controls['year']"
              class="form-control"
              id="yearInput"
              placeholder="Year"
              name="year" 
              ngModel>
      <div class="error-lbl" *ngIf="!year.valid && year.touched">A vehicle year is required</div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>