.login-form {
    background-color: #fbfbfb;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 0 0 25px 0;
    margin-bottom: 30px;
}

.login-form form {
    margin: 0 35px;
}

.login-form h2 {
    padding: 25px 35px;
    background-color: #2e7d32;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

.login-form input {
    max-width: 500px;
    margin-bottom: 10px;
    margin: 0 0 10px 0;
}

.login-form .btn-success {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.error-lbl {
    border: 1px solid red;
    max-width: 500px;
    border-radius: 2px;
    margin: 0 0 20px 0px;
    padding: 5px 5px 5px 13px;
    color: red;
    background: #fff;
    font-weight: bold;
}
